/* common tags */

button {
    border: none;
    box-shadow:inset 0 0 0 1px black;
    border-radius: 4px;
    padding: 4px;
    transition: all 0.1s ease;
}

button:active {
    transform: translateY(2px) scale(0.98);
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

/* button:focus {
    box-shadow:inset 0 0 0 2px black;
} */

/* special views */

select#command-name {
    color: white;
    font-size: large;
    background-color: black;
    border: none;
}

input#command-arguments {
    color: white;
    font-size: large;
    background-color: black;
    border: none;
}

menu.vertical-option-menu {
    list-style-type: none;
}

div#command-error {
    color: red;
}

ul.devices-list {
    list-style-type: none;
    padding-inline-start: 0px;
}

li.device-card {
    background-color: snow;
    border: none;
    border-radius: 8px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    margin: 16px;
    padding: 8px;
}

div.device-model {
    display: inline-block;
    margin-left: 16px;
}

div.device-status {
    display: inline-block;
    margin-left: 16px;
}

pre.device-console {
    margin-left: 32px !important;
    white-space: pre-wrap;
    word-break: break-all;
}

/* attribute classes */

.console {
    color: white !important;
    font-family: "Noto Sans Mono", "Noto Sans JP", monospace !important;
    background-color: black !important;
    margin: 8px;
    padding: 4px;
}

.hide {
    visibility: hidden !important;
}

.show {
    visibility: visible !important;
}

.online {
    color: green !important;
}

.offline, .unknown, .unauthenticated {
    color: gray !important
}
